.button-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
   
}
.create-order{
    margin-top: 5rem;
    background-color: #025a15;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
}
.remove-order{
    margin-top: 5rem;
    background-color: rgb(243, 64, 100);
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
}