.image-detail{
    height:100%;
    width:50vh;
    border-radius: 15px;
    
}
.product-detail{
    width: 100%;
}
.product-price {
    background-color: #3761af;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    display: inline-block;
    margin: 2rem 0;
    padding: 0.2rem 0.5rem;

}
.product-price:hover{
    background-color: #09854b;
}
.description{
    font-style: italic;
   justify-content: center;
   font-size: 1.2rem;
   font-weight: 600;
   display: inline-block;
   margin: 1rem;
   justify-content: center;
  
}
