* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 4rem;
  justify-content: space-between;
  padding: 0;
 
}
.card-container img{
  border-radius: 5px;
}