.create-order {
  margin-top: 5rem;
  background-color: #eff3f0;
  color: rgb(129, 125, 125);
  padding: 1rem 1.5rem;
  border-radius: 15px;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  border: none;
  margin: 1rem 0;
}
.create-order:hover {
  background-color: #64a572;
  color: white;
}
.button-navigate {
  background-color: #3761af;
  margin-top: 10rem;
  color: white;
  font-size: 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
  border: none;
}
.button-navigate:hover {
  background-color: #025a15;
}
.cart-empty {
  color: red;
  opacity: 0.5;
  margin-top: 3rem;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
form {
  background-color: #3761af;
  color: white;
  padding: 0 4rem;
  border-radius: 15px;
}
