@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  font-size: 1em;
  background-color: #3761af;
  color: white;
  gap: 5rem;
}
.category {
  padding-top: 4rem;
  color: aliceblue;
  display: flex;
  text-decoration: none;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.category .active{
  padding-top: 4rem;
  color: aliceblue;
  background-color: rgb(37, 37, 37);
  display: flex;
  text-decoration: none;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.detail {
  color: white;
}
.logo {
  margin-top: 2rem;
}
.title {
  font-size: 3rem;
  text-decoration: none;
  color: white;
  margin-bottom: 0.5rem;
}

.material-icons {
  font-size: 1.8rem;
  color: white;

  margin-top: 1rem;
}


.unselect{
  padding-top: 4rem;
  color: aliceblue;
  display: flex;
  text-decoration: none;
  font-size: 2rem;
  margin-bottom: 2rem;
}