

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  font-size: 1em;
  background-color: #3761af;
  color: white;
  gap: 5rem;
}

.detail {
  color: white;
}
.logo {
  margin-top: 2rem;

}
.logo .title {
  font-size: 2rem;
  text-decoration: none;
  color: white;
  margin-bottom: 0.5rem;
}

.material-icons {
  font-size: 1.8rem;
  color: white;

  margin-top: 1rem;
}


.unselect{
  padding-top: 4rem;
  color: aliceblue;
  display: flex;
  text-decoration: none;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.select{
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 2rem;
  color: white;
  display: flex;
  text-decoration: none;
  font-size: 2rem;
  margin-bottom: 2rem;
  background-color: rgb(95, 54, 133);
  border-radius: 15px;
}